.flip-card {
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.flipped .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
}
.flip-card-back {
  transform: rotateY(180deg);
}



/* Responsive fix */
@media (max-width: 768px) {


  .flip-card-inner {
  width: auto;
  }

  .flip-card-front,
  .flip-card-back {
    width: auto;
  }
}


